{{ define "content" }}
<h1>ASCII Art Generator</h1>
<form action="/ascii-art" method="post">
    <label for="text">Text:</label>
    <textarea id="text" name="text" required></textarea>
    <fieldset>
        <legend>Select a banner:</legend>
        <label><input type="radio" name="banner" value="shadow" required > Shadow</label>
        <label><input type="radio" name="banner" value="standard" checked> Standard</label>
        <label><input type="radio" name="banner" value="thinkertoy"> Thinkertoy</label>
    </fieldset>

    <button type="submit">Generate ASCII Art</button>
</form>

<!-- Place to display results -->

<div id="reload">
    {{.Result.Res}}
    <pre>
        {{.Result.Res1}}
    </pre>
</div>
{{ end }}